<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.share_everything_project"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".ShareEverythingApp"
        android:allowBackup="true"
        android:theme="@style/Theme.ShareEverything"
        android:label="ShareHub Pro"
        android:icon="@drawable/app_icon">

        <!-- MainActivity trebuie să aibă "exported" setat la true -->
        <activity android:name=".MainActivity"
            android:exported="true" />

        <!-- Ensure ChatActivity is declared -->
        <activity android:name=".ChatActivity"
            android:exported="true" />

        <!-- LoginActivity trebuie să aibă intent-filter și "exported" setat la true -->
        <activity android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>
</manifest>
